body{
background-color: whitesmoke;
font-family: Calibri;
font-size:14px;
line-height: 30px;

}
#head{
  padding-left: 100px;
  margin-right: 50px;
}
#next{
float:right;
margin-right:30px;
font-size: 18px;  
}
.antibody {
    background: white;
    position: relative;
    border: 2px solid #898989;
    display:inline-block;
    overflow:hidden;
    height:400px;
    width:400px;
    float: left;
    margin-right: 50px;
}
.object1 {
    height:6em;
    width:6em;
    border-radius: 3em;
    background: cyan;
 }
.object2 {
  height:4em;
    width:4em;
    border-radius: 2em;
    background: violet;
}

.antiobject1 {
    position: absolute;
    -webkit-animation-name: animate1, animate2, animate3;
    -webkit-animation-timing-function: ease;
    -webkit-animation-duration: 4.14s;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-name: animate1, animate2, animate3;
    -moz-animation-timing-function: ease;
    -moz-animation-duration: 4.14s;
    -moz-animation-iteration-count:infinite;
}

@-webkit-keyframes animate1 {
  0% { top: 300px; }
  37% { top: 300px; }
  62% { top: 320px; }
  80% { top: 100px; }
  92% { top: 310px; }
  100% { top: 300px; }
}
@-webkit-keyframes animate2 {
  0% { left: 50px; }
  100% { left: 50px; }
}
@-webkit-keyframes animate3 {
  0% { -webkit-transform: scale(1,1); }
  38% { -webkit-transform: scale(1,1); }
  65% { -webkit-transform: scale(1.2,0.8); } 
  70% { -webkit-transform: scale(1,1.2); }
  87% { -webkit-transform: scale(1,1); }
  92% { -webkit-transform: scale(1.1,0.76); }
  100% { -webkit-transform: scale(1,1); }
}
@-moz-keyframes animate1 {
  0% { top: 300px; }
  37% { top: 300px; }
  62% { top: 320px; }
  80% { top: 100px; }
  92% { top: 310px; }
  100% { top: 300px; }
}
@-moz-keyframes animate2 {
  0% { left: 50px; }
  100% { left: 50px; }
}
@-moz-keyframes animate3 {
  0% { -moz-transform: scale(1,1); }
  38% { -moz-transform: scale(1,1); }
  65% { -moz-transform: scale(1.2,0.8); } 
  70% { -moz-transform: scale(1,1.2); }
  87% { -moz-transform: scale(1,1); }
  92% { -moz-transform: scale(1.1,0.76); }
  100% { -moz-transform: scale(1,1); }
}
.antiobject2 {
    position: absolute;
    -webkit-animation-name: animate4, animate5, animate6;
    -webkit-animation-timing-function: ease;
    -webkit-animation-duration: 1.23s;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-name: animate4, animate5, animate6;
    -moz-animation-timing-function: ease;
    -moz-animation-duration: 1.23s;
    -moz-animation-iteration-count:infinite;
}
@-webkit-keyframes animate4 {
  0% { top: 80px; }
  50% { top: 358px; }
  100% { top: 80px; }
}

@-webkit-keyframes animate5 {
  0% { left: 250px; }
  100% { left: 250px; }
}
@-webkit-keyframes animate6 {
  0% { -webkit-transform: scale(1,1); }
  38% { -webkit-transform: scale(1,1); }
  54% { -webkit-transform: scale(1.1,0.76); }
  62% { -webkit-transform: scale(1,1.2); }
  100% { -webkit-transform: scale(1,1); }
}
@-moz-keyframes animate4 {
  0% { top: 80px; }
  50% { top: 358px; }
  100% { top: 80px; }
}
@-moz-keyframes animate5 {
  0% { left: 250px; }
  100% { left: 250px; }
}
@-moz-keyframes animate6 {
  0% { -moz-transform: scale(1,1); }
  38% { -moz-transform: scale(1,1); }
  54% { -moz-transform: scale(1.1,0.76); }
  62% { -moz-transform: scale(1,1.2); }
  100% { -moz-transform: scale(1,1); }
}